/*!
global > color
------------------------------
*/

:root {
  --color-primary: #303030;
  --color-font-base: #1d1d1d;
  --color-font-light: rgba(255, 255, 255, 0.7);
  --color-accent: #3f4f8a;
  --color-red: #f03341;
  --color-bg-gray: #efefef;
  --color-bg-light-gray: #fcfafa;
  --color-bg-light-accent: rgba(239, 239, 239, 0.25);
  --color-font-light: #b1b1b1;
  --color-white: #ffffff;
  --color-border-light: rgba(255, 255, 255, 0.25);
  --color-border-light-black: rgba(29, 29, 29, 0.25);
  --color-title-border: rgba(48, 48, 48, 0.25);
  --color-border: rgba(29, 29, 29, 0.4);
}
