/*!
global > color
------------------------------
*/

:root {
  --color-primary: #303030;
  --color-font-base: #1D1D1D;
  --color-accent: #3F4F8A;
  --color-bg-gray: #EFEFEF;
  --color-bg-light-gray: #FCFAFA;
  --color-font-light: #B1B1B1;
  --color-white: #FFFFFF;
}
