@use "../global" as g;

/*!
mixin > mixin
------------------------------
*/

@mixin background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin mask-img {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
}
