@use "../global" as g;
@use "../mixin" as m;

/*!
component > button
------------------------------
*/

.c-btn {
}

.c-btn__link {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15rem;
  align-items: center;

  @include g.mq() {
    width: auto;
    grid-template-columns: 163rem auto;
    gap: 20rem;
  }

  &::before {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
  }
}

/* 矢印付 */
.c-btn_arrow {
  display: inline-block;
  width: 84rem;
  height: 30rem;
  mask-image: url(../img/btn_arrow.svg);
  @include m.mask-img;
  background-color: var(--color-font-base);
  opacity: 0.4;
  transition: opacity var(--duration-base);

  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}
