@use "../global" as g;
@use "../foundation/keyframes";

/*!
component > marquee
------------------------------
*/

.c-marquee {
  display: block !important;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  span {
    font-size: 125rem;
    font-weight: 200;
    font-family: var(--font-family-en);
    line-height: 1;

    @include g.mq() {
      font-size: 170rem;
    }
  }

  &__inner {
      display: inline-block;
      animation: marquee-left 15s linear infinite;
  }
}
