@use "../global" as g;

/*!
component > title
------------------------------
*/
.c-title-ja {
  display: flex;
  align-items: center;
  gap: 16rem;
  font-weight: 500;

  &::before {
    content: "";
    display: block;
    width: 15rem;
    aspect-ratio: 1/1;
    background-color: var(--color-accent);
  }
}

.c-title-en {
  font-size: 58rem;
  font-weight: 200;
  line-height: 1;
  font-family: var(--font-family-en);
  text-transform: capitalize;
  letter-spacing: -0.05em;

  @include g.mq() {
    font-size: 110rem;
  }

  /* 装飾線設定 */
  span {
    letter-spacing: -0.05em;
    display: inline-block;
    position: relative;
    line-height: 0.75;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: var(--color-title-border);
      position: absolute;

      @include g.mq() {
      }
    }

    &::before {
      top: 2rem;
      left: -15rem;

      @include g.mq() {
        top: 4rem;
      }
    }

    &::after {
      right: -15rem;
      bottom: 0;

      @include g.mq() {
      }
    }
  }
}
