@use "../global" as g;

/*!
layout > contact-cta
------------------------------
*/
.l-contact-cta {
  background-color: var(--color-primary);
  padding: 50rem 30rem;

  @include g.mq() {
    padding: 90rem 60rem;
  }
}

.l-contact-cta__inner {
  background-color: var(--color-white);
  background-image: url(../img/contact_cta_bg_texture.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10rem;
  padding-block: 45rem;

  @include g.mq() {
    display: grid;
    grid-template-columns: 485rem 570rem;
    justify-content: space-between;
    align-items: center;
    padding-block: 0;
    padding-inline: 72rem 60rem;
    background-image: none;
  }
}

.l-contact-cta__content {
  padding-inline: 30rem;

  @include g.mq() {
    padding-inline: 0;
  }
}
.l-contact-cta__text {
  text-align: center;
  margin-top: 16rem;

  @include g.mq() {
    text-align: left;
    margin-top: 38rem;
  }

  span {
    display: block;
  }
}

.l-contact-cta__btn {
  margin-top: 16rem;
  margin-inline: auto;

  @include g.mq() {
    margin-top: 34rem;
    margin-inline: 0 auto;
  }
}

.l-contact-cta__img-area {
  margin-top: 30rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 8rem;

  @include g.mq() {
    height: 540rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
    margin: 0;
  }
}

.l-contact-cta__img-wrap {
  display: flex;
  gap: 8rem;

  @include g.mq() {
    flex-direction: column;
    gap: 16rem; 
  }
}

.l-contact-cta__img-wrap_primary {
}

.l-contact-cta__img {
  width: 150rem;
  border-radius: 5rem;
  overflow: hidden;

  @include g.mq() {
    width: 270rem;
  }
}

.l-contact-cta__img-wrap_secondary {
}
