@use "../global" as g;
@use "../mixin" as m;

/*!
layout > header
------------------------------
*/
.l-header {
  height: 76rem;
  padding-inline: 18rem;
  position: fixed;
  inset: 0;
  z-index: var(--z-index-header);
  display: flex;
  align-items: center;
  background-color: transparent;
  transition:
    background-color var(--duration-base),
    box-shadow var(--duration-base);

  // スクロールがトリガー要素を超えたら背景表示
  &.is-active {
    background-color: var(--color-white);
    box-shadow: 0 7rem 30rem 0 rgba(48, 48, 48, 0.15);
  }

  @include g.mq() {
    height: 92rem;
    padding-inline: 60rem 30rem;
  }
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.l-header__logo {
  width: 124.5rem;
  height: 16.51rem;
  mask-image: url(../img/logo.svg);
  @include m.mask-img;
  background-color: var(--color-primary);
  transition: opacity var(--duration-base), background-color var(--duration-base);

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include g.mq() {
    width: 165.98rem;
    height: 22.01rem;
  }
}

.l-header__block-right {
  @include g.mq() {
    display: flex;
    align-items: center;
    gap: 37rem;
  }
}

.l-header__gnav {
  display: none;

  @include g.mq() {
    display: block;
  }
}

.l-header__gnav-inner {
  @include g.mq() {
  }
}

.l-header__gnav-list {
  @include g.mq() {
    display: flex;
    align-items: center;
    gap: 36rem;
  }
}

.l-header__item {
  @include g.mq() {
  }
}

.l-header__link {
  @include g.mq() {
    font-size: 14rem;
  }
}

.l-header__btn-wrap {
  display: grid;
  gap: 7rem;
  grid-template-columns: repeat(2, 38rem);

  @include g.mq() {
    gap: 12rem;
    grid-template-columns: repeat(2, 56rem);
  }
}

.l-header__btn {
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: block;
}

.l-header__btn-contact {
  display: grid;
  place-items: center;
  background-color: transparent;
  opacity: 1;
  visibility: visible;
  transition:
    background-color var(--duration-base),
    opacity var(--duration-base),
    visibility var(--duration-base);

  /* アイコンを設定する */
  &::before {
    content: "";
    display: block;
    width: 16rem;
    aspect-ratio: 1/1;
    mask-image: url(../img/mail-icon.svg);
    @include m.mask-img;
    mask-size: contain;
    background-color: var(--color-primary);
    transition: background-color var(--duration-base);

    @include g.mq() {
      width: 23.2rem;
    }
  }

  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-primary);

        &::before {
          background-color: var(--color-white);
        }
      }
    }
  }
}

.l-header__btn-drawer {
  background-color: var(--color-primary);
  display: grid;
  place-items: center;
  transition: background-color var(--duration-base);

  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-white);

        .l-header__btn-drawer__inner {
          span {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }
}

.l-header__btn-drawer__inner {
  width: 17.15rem;
  height: 4.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  position: relative;

  @include g.mq() {
    width: 24rem;
    height: 6.65rem;
  }

  span {
    width: 100%;
    height: 1rem;
    background-color: var(--color-white);
    display: block;
    transition:
      background-color var(--duration-base),
      transform var(--duration-base),
      top var(--duration-base),
      width var(--duration-base);

    /* 2本目の線 */
    &:nth-of-type(2) {
      width: 12rem;

      @include g.mq() {
        width: 17rem;
      }
    }
  }
}

/* 下層ページでは文字色を白に */
.l-header--sub-page {
  .l-header__logo {
    a {
      background-color: var(--color-white);
      transition: background-color var(--duration-base);
    }
  }

  .l-header__link {
    color: var(--color-white);
  }

  .l-header__btn-contact {
    border: 1px solid var(--color-white);

    &::before {
      background-color: var(--color-white);
    }

    @include g.mq() {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--color-white);

          &::before {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }

  .l-header__btn-drawer {
    background-color: var(--color-white);
    border: 1px solid var(--color-white);

    @include g.mq() {
      @media (any-hover: hover) {
        &:hover {
          background-color: transparent;

          .l-header__btn-drawer__inner {
            span {
              background-color: var(--color-white);
            }
          }
        }
      }
    }
  }

  .l-header__btn-drawer__inner {
    span {
      background-color: var(--color-primary);
    }
  }

  &.is-active {
    .l-header__logo {
      a {
        background-color: var(--color-primary);
      }
    }

    .l-header__link {
      color: var(--color-primary);
    }

    .l-header__btn-contact {
      border: 1px solid var(--color-primary);

      &::before {
        background-color: var(--color-primary);
      }

      @include g.mq() {
        @media (any-hover: hover) {
          &:hover {
            background-color: var(--color-primary);

            &::before {
              background-color: var(--color-white);
            }
          }
        }
      }
    }

    .l-header__btn-drawer {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);

      .l-header__btn-drawer__inner {
        span {
          background-color: var(--color-white);
        }
      }

      @include g.mq() {
        @media (any-hover: hover) {
          &:hover {
            background-color: transparent;

            .l-header__btn-drawer__inner {
              span {
                background-color: var(--color-primary);
              }
            }
          }
        }
      }
    }
  }
}

// ========================================
// トリガー要素を通過したら背景表示
// ========================================
.l-header.is-active {
  background-color: var(--color-white);
}

// ========================================
// ドロワーメニューが開いているときのスタイル
// ========================================
.l-header.is-drawer-open {
  .l-header__logo {
    background-color: var(--color-white);
  }

  .l-header__gnav,
  .l-header__btn-contact {
    opacity: 0;
    visibility: hidden;
  }

  .l-header__btn-drawer {
    background-color: var(--color-white);

    @include g.mq() {
      background-color: var(--color-primary);

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--color-white);

          .l-header__btn-drawer__inner {
            span {
              background-color: var(--color-primary);
            }
          }
        }
      }
    }
  }

  /* ドロワーメニューopen時、2本線を×に変形 */
  .l-header__btn-drawer__inner {
    span {
      position: absolute;
      transform-origin: right;
      right: 1rem;
      background-color: var(--color-primary);

      @include g.mq() {
        background-color: var(--color-white);
      }

      /* 1本目の線 */
      &:nth-of-type(1) {
        transform: rotate(-30deg);
        top: -2.5rem;

        @include g.mq() {
          top: -1.5rem;
        }
      }

      /* 2本目の線 */
      &:nth-of-type(2) {
        width: 100%;
        transform: rotate(30deg);
        top: 7rem;

        @include g.mq() {
          top: 10rem;
        }
      }
    }
  }
}

.l-header--sub-page.is-drawer-open {
  .l-header__btn-drawer {
    @include g.mq() {
      @media (any-hover: hover) {
        &:hover {
          border: 1px solid var(--color-primary);
        }
      }
    }
  }
}
