@use "../global" as g;

/*!
layout > header
------------------------------
*/
.l-header {
  padding: 18rem;

  @include g.mq() {
    padding: 36rem;
  }
}

.l-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-header__logo {
  width: 125rem;

  @include g.mq() {
    width: 165rem;
  }
}

.l-header__content {
  display: flex;
  align-items: center;
  gap: 36rem;
}

.l-gnav__nav {
  display: none;

  @include g.mq() {
    display: block;
  }
}

.l-gnav__list {
  @include g.mq() {
    display: flex;
    gap: 36rem;
  }
}

.l-gnav__link {
  @include g.mq() {
    font-size: 14rem;
  }
}

.l-header__btn-wrap {
  display: flex;
  gap: 7rem;
  align-items: center;
}

.l-header__btn {
  width: 39rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px var(--color-primary) solid;
}

.l-header__contact-btn {
  display: grid;
  place-items: center;
  transition: background-color var(--duration-base);

  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-primary);

        .icon {
          background-color: var(--color-white);
        }
      }
    }
  }

  .icon {
    width: 16rem;
    aspect-ratio: 1/1;
    mask-image: url(../../assets/img/mail-icon.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--color-primary);
    transition: background-color var(--duration-base);
  }
}

.l-hamburger {
  background: var(--color-primary);
  position: relative;
  transition: background-color var(--duration-base);

  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-white);

        span {
          background-color: var(--color-primary);
        }
      }
    }
  }

  span {
    display: inline-block;
    width: 16rem;
    height: 1px;
    background-color: var(--color-white);
    position: absolute;
    transition: background-color var(--duration-base);
  }
}

.l-hamburger_open {
  span {
    right: 11.5rem;

    &:nth-of-type(1) {
      width: 17rem;
      top: 16rem;
    }
    &:nth-of-type(2) {
      width: 12rem;
      bottom: 16rem;
    }
  }
}

.l-hamburger_close {
  position: fixed;
  top: 18rem;
  right: 18rem;
  border: 1px var(--color-white) solid;

  &:nth-of-type(1) {
    transform: rotate(160deg);
  }
  &:nth-of-type(2) {
    width: 12rem;
    bottom: 16rem;
  }
}

.l-menu {
  @include g.mq() {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  &::backdrop {
    display: none;
  }
}

.l-menu__inner {
  @include g.mq() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
}

.l-menu__nav {
  background: var(--color-primary);
  padding: 24rem 18rem;
  width: 100vw;
  background-image: url(../img/bg_texture.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include g.mq() {
    width: auto;
  }
}

.l-menu__logo {
  width: 125rem;

  @include g.mq() {
    margin-left: 60rem;
    width: 165rem;
  }
}

.l-menu__list {
  margin-top: 16rem;

  @include g.mq() {
    margin-top: 40rem;
    padding-inline: 120rem;
  }
}

.l-menu__item {
  border-bottom: 1px solid var(--color-border-light);
  color: var(--color-white);
  padding-block: 16rem;
  background-image: linear-gradient(var(--color-white), var(--color-white));
  background-position: 0 100%;
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: background-size var(--duration-base);

  @media (any-hover: hover) {
    &:has(.l-menu__link:hover) {
      /* 1階層目のリンクをホバーしたときのみ、下線を100% */
      background-size: 100% 1px;
    }
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    /* 2階層があるナビのみ幅指定 */
    display: grid;
    grid-template-columns: 1fr;
  }

  @include g.mq() {
    &:nth-of-type(2) {
      grid-template-columns: 145rem 300rem;
    }
    &:nth-of-type(3) {
      grid-template-columns: 145rem 200rem;
    }
  }
}

.l-menu__link {
  display: block;

  @include g.mq() {
    font-size: 17rem;
  }
}

/* 2階層目 */
.l-menu__list_child {
  @include g.mq() {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

.l-menu__img-wrap {
  display: none;

  @include g.mq() {
    display: block;
  }
}

.l-menu-img {
  @include g.mq() {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.l-menu__marquee {
  display: none;

  @include g.mq() {
    bottom: -18rem;
  }

  @include g.mq() {
    span {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}
