@use "../global" as g;
@use "../mixin" as m;

/*!
layout > page-kv
------------------------------
*/
.l-page-kv {
  background-image: url(../img/service/service-kv-sp.jpg);
  @include m.background-img;
  width: 100%;
  height: 436rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: linear-gradient(
      0deg,
      rgba(29, 29, 29, 0.2) 0%,
      rgba(29, 29, 29, 1) 100%
    );
  }
}

.l-page-kv__content {
  width: 100%;
  position: absolute;
  bottom: -15rem;
  display: flex;

  @include g.mq() {
    bottom: -34rem;
  }

  &::before {
    content: "";
    display: block;
    width: 30rem;
    height: 1px;
    margin: 16rem 20rem 0 0;
    background-color: var(--color-white);

    @include g.mq() {
      width: 100rem;
      margin-top: 20rem;
    }
  }
}

.l-page-kv__title-wrap {
}

.l-page-kv__title {
  color: var(--color-white);
}

.l-page-kv__title--ja {
  @include g.mq() {
    font-size: 20rem;
  }
}

.l-page-kv__title--en {
  font-size: 88rem;
  line-height: 1;
  text-transform: capitalize;
  font-family: var(--font-family-en);
  font-weight: 200;
  letter-spacing: -0.02em;

  @include g.mq() {
    font-size: 190rem;
  }

  span {
    display: block;

    @include g.mq() {
      display: inline-block;
    }
  }
}
