@use "../../global" as g;
@use "../../mixin" as m;

/*!
page > voice-detail > voice-detail-btn
------------------------------
*/
.voice-detail__btn-wrap {
  padding-inline: 30rem;

  @include g.mq() {
    padding-inline: 320rem;
    text-align: center;
  }
}

.voice-detail__btn-link {
    justify-content: center;
}

.voice-detail__btn-text-wrap {
  width: 170rem;
}